.message {
    display: grid;
    grid-template-areas: "name name" "text time";
    grid-template-columns: 8fr 2fr;
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    padding: 10px;
    background-color: white;

}
